@import url("./reset.css");

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.screen-w {
  width: 1190px;
  margin: 0 auto;
}

.header_container {
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
}

/* text */

.text-green {
  color: #00dc64;
}

.text-white {
  color: white;
}

.text-gray {
  color: #666;
}

.text-sm {
  font-size: 14px;
}

.text-15 {
  font-size: 15px;
}

.text-xl {
  font-size: 20px;
}

.font-semibold {
  font-weight: 600;
}

.hover-underline:hover {
  text-decoration: underline;
}

.bg-green {
  background-color: #00dc64;
}

/* flex */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.gap-2 {
  gap: 2px;
}

.gap-5 {
  gap: 5px;
}

.gap-15 {
  gap: 15px;
}

/* margin or padding */

.mt-15 {
  margin-top: 15px;
}

.mb-5 {
  margin-bottom: 5px;
}

.px-18 {
  padding-left: 18px;
  padding-right: 18px;
}

.pt-12 {
  padding-top: 12px;
}

.creator-btn {
  padding: 11px 33px;
  border-radius: 4px;
}

.nav-child {
  padding-left: 18px;
  padding-right: 18px;
  line-height: 55px; /* line-height: 글자의 행간(줄 높이)을 조정하는 속성  */
}

.daily-child {
  width: 230px;
  margin-right: 10px;
}

.daily-child:last-child {
  margin-right: 0;
}

.search_form {
  border: 1px solid #e0e0e0;
  width: 270px;
  height: 37px;
  line-height: 35px;
}

.search_input {
  font-size: 14px;
  padding: 0 10px;
  box-sizing: border-box;
  appearance: none;
  border: none;
  width: 100%;
}

.search_icon {
  padding: 0 8px;
  display: inline-flex;
}

.n_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 71, 71);
  color: white;
  border-radius: 100%;
  font-size: 8px;
  font-weight: 800;
  padding: 2px;
  width: 8px;
  height: 8px;
}
